/*-- Variables --*/

$font: 'Hind', sans-serif;
$font-alt: $font;
$font-headings: $font;

$text: #999;
$title: #777;
$green: #4a6817;
$light-grey: #E6E6E6;
$bg: #222;

$thin: 100;
$extralight: 200;
$light: 300;
$book: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;
$blackweight: 900;

$max-width: 780px;
$wrapper-width: 1024px;